/* CSS declarations go here */

#player1 {
  position: absolute;
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  background-color: rgba(25,25,210,0.7);
}

#board {
  position: relative;
  display: block;
  height: 547px;
  width: 347px;
  border: 1px solid #000;
}
